<div>

  <app-sidebar [(sidebarOpen)]="isSidebarVisible"></app-sidebar>

  <div class="lg:pl-72">
    <div class="sticky top-0 z-40 lg:mx-auto lg:max-w-7xl lg:px-8">
      <div
        class="flex h-16 items-center gap-x-4 border-b border-gray-200 bg-white px-4 shadow-sm sm:gap-x-6 sm:px-6 lg:px-0 lg:shadow-none">
        <button type="button" class="-m-2.5 p-2.5 text-gray-700 lg:hidden" (click)="openSidebar()">
          <span class="sr-only">Open sidebar</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>

        <h1 class="text-lg font-semibold leading-6 text-gray-900">{{ showTitle(title) }}</h1>

      </div>
    </div>

    <main class="py-10">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>

</div>