<h1 class="text-3xl font-bold mb-4">Welcome to Prompto</h1>
<p class="">
    Prompto is an open-source web application designed to make interacting with large language models (LLMs) simple
    and efficient.
</p>

<ul class="list-disc list-inside mx-auto mt-4 mb-8 ">
    <li>Switch between LLMs: Effortlessly try out different LLMs, all within your browser.</li>
    <li>Fine-tune responses: Adjust the temperature setting to control the creativity and risk level of the LLM's
        outputs.</li>
    <li>Chat or query: Choose between a chatbot interface that remembers conversations or a notebook for sending prompts
        without context.</li>
    <li>Save and reuse: Create templates for frequently used prompts and add context on the fly.</li>
</ul>

<p class="">
    Prompto runs entirely within your web browser, ensuring a smooth and responsive experience. While Prompto itself
    doesn't require a server, the language models (LLMs) you interact with may be hosted on external servers. This means
    that your browser communicates directly with the chosen LLM.
</p>
<p class="mt-2">
    For simplicity and user privacy, all settings and chat conversations are stored solely in your browser's local
    storage.
    This approach allows you to maintain your preferences and conversation history without the need for server storage,
    but it also comes with security risks. You can delete all settings and chat conversations at any time on the
    settings page.
</p>